<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655739182965-felsq12bj5enaint840ak850kmj3sgeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655739182965-felsq12bj5enaint840ak850kmj3sgeb</string>
	<key>API_KEY</key>
	<string>AIzaSyA_wzM4DQcOIUPtPw5uqqymQBFOKa9lPL4</string>
	<key>GCM_SENDER_ID</key>
	<string>655739182965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexosh.optimalRouting</string>
	<key>PROJECT_ID</key>
	<string>routes-ce6ef</string>
	<key>STORAGE_BUCKET</key>
	<string>routes-ce6ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655739182965:ios:6ae4fca4b35e04892f3d3c</string>
</dict>
</plist>